azure-core==1.31.0
azure-functions==1.21.0
azure-identity==1.18.0
azure-iot-device==2.14.0
azure-storage-blob==12.23.1
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
cryptography==43.0.1
deprecation==2.1.0
idna==3.10
isodate==0.6.1
janus==1.0.0
msal==1.31.0
msal-extensions==1.2.0
packaging==24.1
paho-mqtt==1.6.1
portalocker==2.10.1
pycparser==2.22
PyJWT==2.9.0
PySocks==1.7.1
requests==2.32.3
requests-unixsocket2==0.4.2
six==1.16.0
typing_extensions==4.12.2
urllib3==2.2.3
